@model PaginatedList<MagazinElectronice_Pascu_Ioana.Models.Membru>

@{
    ViewData["Title"] = "Membri";
}

<h1>Membri</h1>

<p>
    <a asp-action="Create">Creează nou</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Caută după nume: <input type="text" name="stringCautare" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Caută" class="btn btn-default" /> |
            <a asp-action="Index">Înapoi la listă</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Nume
            </th>
            <th>
                <a asp-action="Index" asp-route-ordineSortare="@ViewData["PrenumeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Prenume</a>
            </th>
            <th>
                Adresa
            </th>
            <th>
                <a asp-action="Index" asp-route-ordineSortare="@ViewData["PuncteSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Puncte</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puncte)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editare</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalii</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Ștergere</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-ordineSortare="@ViewData["CurrentSort"]"
   asp-route-numarPagina="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Înapoi
</a>
<a asp-action="Index"
   asp-route-ordineSortarte="@ViewData["CurrentSort"]"
   asp-route-numarPagina="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Înainte
</a>